<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coagusearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddMedicine"></activity>
        <activity android:name=".NewAppointment"></activity>
        <activity android:name=".Class.addMedicine" />
        <activity
            android:name=".accountinformations"
            android:label="@string/title_activity_accountinformations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".accountPage" />
        <activity android:name=".main" />
        <activity android:name=".anasayfa" />
        <activity android:name=".Second" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>